<main>
    <section class="m-5">
        <div class="card p-5">
            <h1 class="animated fadeIn fast">
                Sobre Comic App
            </h1>

            <div class="conten animated fadeIn">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore veniam officia dolorem repudiandae saepe laborum quod ad libero porro minus maiores provident ipsam, mollitia commodi voluptatum sed velit dolores sapiente!
                </p>
            </div>

        </div>
    </section>
</main>