<main>
    <section class="m-5">
        <div class="card text-white bg-info mb-3 card p-5 animated fadeIn fast">
            <h1>
                COMIC APP
            </h1>

            <div class="content">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore veniam officia dolorem repudiandae saepe laborum quod ad libero porro minus maiores provident ipsam, mollitia commodi voluptatum sed velit dolores sapiente!
                </p>
            </div>
        </div>

    </section>
</main>