<div class="card aniamted fadeIn fast">
    <img src="{{heroe.img}}" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{heroe.nombre}}</h5>
        <p class="card-text">{{heroe.bio}}</p>
        <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
        <button class="btn btn-outline-info" (click)="vermas()">Ver más</button>
        <!-- <button class="btn btn-outline-info" [routerLink]="['/heroe',i]" routerLinkActive="router-link-active">Ver más</button> -->
    </div>
</div>